*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
body{
    background-color: #1a1a1a;
}
p{ 
    font-size: 12px;
    color: #fff;
}

header,
.header-left, 
.header-right,
.recording,
.view,
.hero,
.aside-left,
.aside-right,
.arrow-left{
    display:flex;
}

.fa-backward,
.fa-forward{
    color: #2db7ff;
    font-size: 18px;
}

/* header */

header{ 
    width: 100%;
    justify-content: space-between;
    padding: 3px 0;
}
.header-left, .header-right{
    border: 1px solid;
    align-items: center;
}


/* header-left */
.scudo{ 
    width: 20px;
    height: 20px;
    background-color: #000;
    border: 1px solid;
}

.fa-shield-alt{ color:green;}

.recording{ 
    background-color: #000;
    padding: 5px 7px;
}

.scudo { margin-right: 10px;}
.circle{ margin-right: 5px;}

.circle{
    width: 13px;
    height: 13px;
    background-color: red;
    border-radius: 50%;
    border: 4px solid white;
}

.header-left{
    margin-left: 10px;
}

/* header-right */
.fa-align-justify{
    margin-right: 5px;
    color: #fff;
}

.header-right{ 
    padding: 5px;
    margin-right: 10px;
    background-color: #212b38;
    border-radius: 3px;
}
/* main */

.hero{
    height: calc(100vh - 34px);
    width: 100%;
}

.aside-left,
.aside-right{
    align-items: center;
    width: 7%;
}

.aside-right{
    justify-content: flex-end;
}

.content-central{
    width: 70%;
    flex-grow: 1;
    background-color: lightblue;
}

/* aside-left */

.arrow-left,
.arrow-right{
    padding: 13px 10px 0 10px;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    width: 40px;
    height: 50px;
    background-color: #222222;
    border: 1px solid black;
    color: #fff;
}

.arrow-left{
    margin-left: 10px;
}

/* aside-right */

.arrow-right{
    margin-right: 10px;
}





/* footer */